
.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 18% 0 6%;
    font-weight: 400;
}
.header-hamburger {
    display: none;
}
.top-header a:hover {
    background: rgb(244, 187, 51);
    background: linear-gradient(0deg, rgba(244, 187, 51, 1) 96%, rgba(253, 187, 45, 1) 100%);
    border-color: rgb(244, 187, 51);
    color: white;
}

.top-header a:active {
    background: rgb(244, 141, 51);
    background: linear-gradient(0deg, rgba(244, 141, 51, 1) 96%, rgba(251, 96, 0, 1) 100%);
    border-color: rgb(244, 141, 51);
    color: white;
}
ul{
    display: flex;
    
}
li{
list-style: none;
margin: 2.5% 7%  0px -5%;
}
.top-header img:first-of-type {
    margin-left: 40%;
    margin-top:2%;
}
.top-header img:last-of-type {
    margin-left:2%;
}
.top-header a {
   
    color: #4B5D68;
    margin-top: 65px;
    margin-right: 50px;
}
.header-burger{
    display: none;
}
.top-header a:first-child {
    color: #212353;
    
}
@media (max-width: 1000px) {

    .top-header {
        margin-left:15%;
    }
    /*.top-header a{
      font-size: 80%;
    }*/
}
@media (max-width: 880px) {

    .top-header {
        margin-left:25%;
        margin-bottom: -5%;
    }
    /*.top-header a{
      font-size: 80%;
    }*/
}

@media (max-width: 800px) {
    .top-header {
        margin: 0 100px;
    }

    .top-header {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .top-header.show {
        display: flex;
        margin: 35% 0 0 0;
    }

    .hamburger {
        display: inline;
        height: 41px;
        background-color: transparent;
        border: 0;
        color: #fff;

    }

    .fa {
        display: inline;
        font-size: 48px;
        background-color: #202336;

    }

    .wrapper.show {
        margin: 5% 0 0 5%;
    }

    .main-header.show {
        align-items: flex-start;
    }
}

@media (max-width: 500px) {

    .top-header a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        margin: 7% 0 0 0;
        padding: 11% 60% 11% 60%;
    }
}

@media (max-width: 600px) {
    .main-header {
        margin-left: 10%;
    }
}

@media (min-width:1920px) {
    .header-content {
        font-size: 30px;
    }

    .header-buttons a {
        font-size: 23px;
    }
}